#gui=none
gui=cairo
#gui=cairo-nowin
gui-aspect-ratio=1
gui-win-size-adjust=1
gui-win-width-preference=0
#gui-canvas-save-file=o.eps
gui-canvas-save-file=o.pdf
gui-background-color=white
nowait=0

logger-config=logger.cfg

#sop-type=op
#sop-type=opn
#sop-type=dop
#sop-type=dopn
#sop-type=gop
sop-type=sop

initial-greedy-solution=1


sop-solver=lp
#sop-solver=vns

#num-iterations=10000
#num-iterations-unimproved=5000

num-iterations=2000
num-iterations-unimproved=1000

#lp-online-subtour-elimination=1
lp-adjust-milp-priorities=0


lp-online-subtour-elimination=1

#neighborhood-radius=0.0
#neighborhood-resolution=1
neighborhood-radius=0.2
neighborhood-resolution=3


dubins-radius=1.5
dubins-resolution=6

lower-bound-above-budget-then-skip=1

name=no_name

num-threads=1
#maximal-memory-MB=4096
#num-threads=4
maximal-memory-MB=10000
#maximal-calculation-time-sec=84000
maximal-calculation-time-sec=168000

#output=results
save-results=1
save-visual=1
result-canvas-output=path
result-canvas-suffixes=pdf,png,canvas.txt
pic-ext=pdf,png
canvas-border=1
draw-cluster-points=1

#show target rewards in colors
draw-shape-targets=pen_color:black;fill_color:green;pen_alpha:1;fill_alpha:1;width:1;radius:3;zoom:0;fill:1;outline:0;depth:15;
draw-targets-reward=1
draw-targets-reward-palette=etc/jet.txt

#enable/disable drawing detailed evolution after each epoch
draw-ring-iter=1

draw-ring=1
draw-path=1
draw-neurons=1
draw-winners=1
draw-stations=1
draw-path-vertices=1

#enable/disable saving detailed images after each epoch
save-pic=1
pic-dir=detail

termination-max-steps=500
termination-minimal-learning-rate=0.41

#problem=etc/tsiligrides_problem1/tsiligirides_problem_1_budget_25.txt
#problem=etc/tsiligrides_problem1/tsiligirides_problem_1_budget_85.txt
#problem=etc/chao_set64-diamond/chao_set_64_1_35.txt
#problem=etc/chao_set64-diamond/chao_set_64_1_25.txt
#problem=etc/tsiligrides_problem1/tsiligirides_problem_1_budget_60.txt
#problem=etc/tsiligrides_problem3/tsiligirides_problem_3_budget_025.txt

#problem=etc/cop_instances_tsplib95/a280s15g1q2.cop
#problem=etc/cop_instances_tsplib95/att48s20g1q3.cop
#problem=etc/cop_instances_tsplib95/ts225s10g1q2.cop

#problem=etc/tsiligrides_problem3/tsiligirides_problem_3_budget_055.txt
#problem=etc/tsiligrides_problem2/tsiligirides_problem_2_budget_45.txt
#problem=etc/example_problem_dopn/example_problem_op.txt
#problem=etc/example_problem_dopn/example_problem_dopn_1_25.txt
#problem=matlab/random_small_problem.txt



#SOP problems

#problem=etc/example_problem_for_operations.sop
#problem=../vns_obst_op/op_problem.op

#problem=python/orienteering/acc_eop_sop_dataset/targets_hope_r_50_s_01.sop
#problem=python/orienteering/dop_sop_dataset/tsiligirides_problem_2_budget_30_r_50_s_01.sop

#problem=etc/sop/11berlin52_T60_p2.sop
#problem=etc/sop/11berlin52_T60_p1.sop
#problem=etc/sop/11eil51_T40_p1.sop
#problem=etc/sop/11eil51_T80_p1.sop
#problem=etc/sop/11berlin52_T100_p1.sop

#problem=etc/mbzirc/targets_hope.txt
#problem=etc/chao_set66-square/chao_set_66_1_060.txt

problem=python/orienteering/opn_sop_dataset/tsiligirides_problem_2_budget_30_d_50_s_12.sop
#problem=python/orienteering/dop_sop_dataset/tsiligirides_problem_2_budget_15_r_50_s_04.sop
#problem=python/orienteering/dop_sop_dataset/tsiligirides_problem_2_budget_15_r_50_s_04.sop
output=results
best-path=1

draw-tour-represented-by-ring=0

learning-rate=0.6
gain-decreasing-rate=0.1

save-info=1
save-settings=1

generate-examples-of-operations=0

